@keyframes ping {
  75%, 100% {
      transform: scale(2);
      opacity: 0;
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes marquee {
  0% {
      transform: translateX(0)
  }

  100% {
      transform: translateX(-100%)
  }
}