/* Global Styles */


/* Header */
.header {
    /* position: sticky; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    overflow: hidden;
}
.header.on-open-nav{
    overflow: initial;
}
.header-inner {
    position: relative;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    z-index: 2;
}
.logo-link {
    display: block;
    color: var(--color-text-primary);
}
.header-nav-inner {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.main-nav {
    display: flex;
    align-items: center;
}

.nav-inner {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.menu-link {
    text-decoration: none;
    color: var(--color-text-secondary);
    transition: color 0.4s ease;

    &:hover {
        color: var(--color-text-primary);
    }

}
.header-nav-mobile{
    display: none;
    @media screen and (max-width: 767px) {
        display: block;
    }
}
.header-act-mobile{
    display: none;
    @media screen and (max-width: 767px) {
        opacity: 0;
        width: auto;
        height: 100dvh;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-auto-columns: 1fr;
        position: absolute;
        top: -1.2rem;
        left: -2rem;
        right: -2rem;
        padding: 9.2rem 2rem 1.2rem;
        background-color: var(--color-bg-primary);
        z-index: 1;
        border-radius: 0;
        margin-top: 0;
        transition: opacity .4s cubic-bezier(0.4, 0, 0.2, 1), transform .4s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translate(5rem);
        overflow: hidden;
        pointer-events: none;
    }
}
.header-act-mobile.active{
    opacity: 1;
    transform: translate(0);
    pointer-events: auto;
}
.header-act-mobile-wrap{
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 12rem);
    padding-inline: var(--padding);
}
.header-act-mobile-item{
    padding-block: 1.2rem;
}
.header-act-mobile-item:not(:last-child){
    border-bottom: var(--1px) solid var(--color-border);
}
.header-act-mobile-link{
    color: var(--color-text-primary);
}
.header-toggle {
    width: 4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}

.header-toggle .line {
    fill: none;
    stroke: var(--color-text-primary);
    stroke-width: 6;
    transition: stroke-dasharray 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-toggle .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.header-toggle .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.header-toggle .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.header-toggle.active .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.header-toggle.active .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.header-toggle.active .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.separator-line-h {
    width: var(--1px);
    background-color: var(--color-border);
}

.separator-line-w {
    width: 100%;
    height: var(--1px);
    background-color: var(--color-border);
}

.page-mask-layer {
    position: fixed;
    inset: 0;
    z-index: 0;
    pointer-events: none;

    background-image: radial-gradient(rgba(19, 127, 236, 0.8) 0.3rem,
            transparent 0);
    background-size: 2rem 2rem;

    /* Mask using CSS variables */
    -webkit-mask-image: radial-gradient(circle 8rem at var(--mouse-x) var(--mouse-y),
            #000 0%,
            rgba(0, 0, 0, 0.7) 40%,
            transparent 100%);
    mask-image: radial-gradient(circle 8rem at var(--mouse-x) var(--mouse-y),
            #000 0%,
            rgba(0, 0, 0, 0.7) 40%,
            transparent 100%);
    opacity: 0;

    @media screen and (max-width: 991px) {
        display: none;
    }
}

/* Portfolio Hero */
.pfolio-hero {
    background-color: var(--color-bg-primary);
    min-height: 65rem;

    @media screen and (max-width: 991px) {
        min-height: auto;
        padding-block-start: 16rem;
        padding-block-end: 6.8rem;
    }

    @media screen and (max-width: 767px) {
        padding-block-start: 12rem;
        padding-block-end: 4rem;
    }
}

.pfolio-hero-text {
    grid-column: 2 / 12;
    grid-row: 1 / 1;
    justify-items: start;
    align-self: center;

    @media screen and (max-width: 991px) {
        display: contents;
    }
}

.pfolio-hero-text-wrap {
    max-width: 70rem;

    @media screen and (max-width: 991px) {
        grid-column: 2 / 7;
        grid-row: 1 / 1;
        max-width: 52rem;
    }

    @media screen and (max-width: 767px) {
        grid-column: 2 / -2;
        grid-row: 1 / 1;
        max-width: none;
    }
}

.pfolio-hero-thumb {
    grid-column: 13 / -2;
    grid-row: 1 / 1;
    justify-items: end;
    align-self: center;

    @media screen and (max-width: 991px) {
        grid-column: 7 / -2;
        grid-row: 1 / 4;
    }

    @media screen and (max-width: 767px) {
        grid-column: 2 / -2;
        grid-row: 4 / 4;
    }
}

.pfolio-hero-scroll-down {
    grid-column: 2 / -2;
    grid-row: 1 / 1;
    align-self: end;
    margin-block-end: 6.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;

    @media screen and (max-width: 991px) {
        display: none;
    }
}

.pfolio-hero-tag {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8rem;
    padding-block: 0.5rem;
    padding-inline: 1.1rem;
    border-radius: var(--border-radius-circle);
    background-color: rgb(19 127 236 / 0.1);
    border: var(--1px) solid var(--color-border);
    margin-bottom: 1.6rem;

    @media screen and (max-width: 991px) {
        margin-bottom: 1rem;
    }
}

.pfolio-hero-tag-text {
    color: var(--color-text-highlight);
}

.pfolio-hero-tag-icon {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    background: var(--color-primary);
    border-radius: var(--border-radius-circle);
    opacity: 0.75;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.pfolio-hero-tag-icon-primary {
    width: 0.8rem;
    height: 0.8rem;
    background: var(--color-primary);
    border-radius: var(--border-radius-circle);
}

.pfolio-hero-title {
    color: var(--color-text-primary);
    margin-bottom: 2.4rem;

    @media screen and (max-width: 991px) {
        margin-bottom: 1.6rem;
    }
}

.pfolio-hero-description {
    color: var(--color-text);
    margin-bottom: 3.2rem;

    @media screen and (max-width: 991px) {
        margin-bottom: 2.4rem;
    }
}

.pfolio-hero-tech-stack {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3.2rem;
    @media screen and (max-width: 991px) {
        grid-column: 2 / 7;
        grid-row: 2 / 2;
        margin-bottom: 2.4rem;
    }
    @media screen and (max-width: 767px) {
        grid-column: 2 / -1;
    }
}

.pfolio-hero-tech-stack-label {
    color: var(--color-text-secondary);
    text-transform: uppercase;
    margin-bottom: 2.4rem;
    @media screen and (max-width: 991px) {
        margin-bottom: 1.2rem;
    }
}

.pfolio-hero-tech-stack-list {
    width: 100%;
    @media screen and (max-width: 767px) {
        overflow: hidden;
    }
}

.pfolio-hero-tech-stack-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.8rem;
    @media screen and (max-width: 767px) {
        flex-wrap: nowrap;
        gap: 0rem;
        margin-bottom: 1.2rem;
    }
}

.pfolio-hero-tech-stack-item {
    display: flex;
    align-items: center;
    padding: 1.1rem 1.5rem;
    margin-inline-end: 1.2rem;
    background-color: #233648;
    border-radius: var(--border-radius-sm);
    border: var(--1px) solid transparent;
    transition: border-color 0.4s ease;

    &:hover {
        border-color: var(--color-border-hover);
    }

    @media screen and (max-width: 767px) {
        flex: none;
    }
}

.pfolio-hero-tech-stack-dots {
    display: none;

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 0 0 auto;
        gap: 0.4rem;
    }
}

.pfolio-hero-tech-stack-dot {
    width: 0.8rem;
    height: 0.8rem;
    background: var(--color-border);
    border-radius: var(--border-radius-circle);
}

.pfolio-hero-tech-stack-dot.active {
    background: var(--color-primary);
}

.pfolio-hero-tech-stack-title {
    color: var(--color-text-primary);
}

.pfolio-hero-action {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    @media screen and (max-width: 991px) {
        grid-column: 2 / 7;
        grid-row: 3 / 3;
    }
    @media screen and (max-width: 767px) {
        grid-column: 2 / -2;
        margin-bottom: 2.4rem;
    }
}

.pfolio-hero-marquee {
    width: 100%;
    margin-block-start: 3.6rem;
    @media screen and (max-width: 991px) {
        grid-column: 2 / -2;
        grid-row: 4 / 4;
    }

    @media screen and (max-width: 767px) {
        grid-column: 2 / -2;
        grid-row: 5 / 5;
    }
}

.pfolio-hero-marquee-label {
    color: var(--color-text-secondary);
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.pfolio-hero-marquee-list {
    margin-left: -5rem;
    padding-left: 5rem;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(90deg, #0000 0%, #000 10rem calc(100% - 10rem), #0000 100%);
    mask-image: linear-gradient(90deg, #0000 0%, #000 10rem calc(100% - 10rem), #0000 100%);
}

.pfolio-hero-marquee-inner {
    width: max-content;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

.pfolio-hero-marquee-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: none;
    gap: 2.4rem;
    padding-inline-end: 2.4rem;
}

.pfolio-hero-marquee-item {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.pfolio-hero-marquee-item-image {
    height: 4.2rem;

    @media screen and (max-width: 991px) {
        height: 3.2rem;
    }

    @media screen and (max-width: 767px) {
        height: 2.4rem;
    }
}

.pfolio-hero-thumb-image {
    width: 100%;
    height: 65.8rem;
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius-md);
    overflow: hidden;

    @media screen and (max-width: 991px) {
        height: 40.8rem;
    }

    @media screen and (max-width: 767px) {
        height: 30.8rem;
    }
}

.pfolio-hero-scroll-down-text {
    color: var(--color-text-secondary);
    text-transform: uppercase;
}

.pfolio-hero-scroll-down-inner {
    width: 2.4rem;
    height: 4.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius-circle);
    border: var(--1px) solid var(--color-text-secondary);
}

.pfolio-hero-scroll-down-icon {
    width: 0.4rem;
    height: 1rem;
    background: var(--color-primary);
    border-radius: var(--border-radius-circle);
    margin-top: 0.4rem;
    animation: scrollDown 1.5s infinite;
}

/* Responsive */